* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  font-family: "Roboto", sans-serif;
}

header {
  padding: 28px 98px;
  background-color: #1f2235;
  width: 100%;
  position: fixed;
}

.horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand img {
  width: 140px;
}

.navItem {
  list-style: none;
  margin: 0 18px;
  font-size: 18px;
  font-weight: 400;
}

.navItem a {
  text-decoration: none;
  color: #fff;
}

.navItem a:hover {
  color: #ff4a57;
}

/* home section */
section {
  padding: 98px 68px;
}

#home {
  background-color: #24263b;
}
.sectionImg img {
  width: 100%;
  height: 600px;
}

.socialBtn i {
  font-size: 18px;
  color: #fff;
  background-color: #24263b;
  margin: 0 12px;
  padding: 12px;
  border-radius: 50%;
  border: 3px solid #ff4a57;
}

.textContent {
  margin-top: 98px;
  color: #fff;
}

.textContent h1 {
  font-size: 48px;
  font-weight: 700;
  margin: 28px 18px 28px 12px;
}

.textContent p {
  font-size: 28px;
  font-weight: 600;
  width: 700px;
  margin: 0 18px 28px 12px;
}

.socialBtn i:hover {
  background-color: #ff4a57;
}

.btn {
  padding: 12px 38px;
  margin: 0 12px;
  background-color: #ff4a57;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.hireBtn {
  background-color: #1f2235;
  border: 3px solid #ff4a57;
}

.hireBtn:hover {
  background-color: #ff4a57;
  color: #fff;
}
/* services */
section {
  background-color: #24263b;
  margin-top: 0;
}
.truce-services h2 {
  display: flex;
  justify-content: center;
  color: #ff4a57;
}
.truce-services h1 {
  display: flex;
  justify-content: center;
  color: #fff;
  font-size: 4rem;
}
.truce-services p {
  display: flex;
  justify-content: center;
  color: #fff;
  padding: 15px 170px;
  height: 500px;
}
.dash {
  display: flex;
  justify-content: center;
  color: #ff4a57;
}
.specific-services {
  display: flex;
  flex-direction: row;
  justify-content: center;
 padding: 70px;
}
.spec-serv1 {
  margin: 5px 30px;
  height: 300px;
  width: 300px;
  border-radius: 14px;
  background:#1f2235 ;
padding: 18px ;
}
 .icons{
  color: #ff4a57;
 font-size: 3rem;
 padding: 10px;
}
.spec-serv1 h5{
  padding: 8px;
  color: #fff;
  font-weight: px;
  font-size: 1.5rem;
  
}
.spec-serv1 p{
  color: #fff;
  font-size: 1rem;
}
.specific-services :hover{
  background: #ff4a57;
  cursor: pointer;
  transition: width 2s ,height 3s;
}
 /* about */
 .tetabout{
  color: #fff;
  flex-direction:column;
  text-align: center;
  padding: 40px;
  margin: 20px;
  font-size: 1.5rem;
 }
 .more-info{
  display: grid;
  grid-template-columns:auto auto;
  gap: 70px;
  margin: 60px;
  color: #fff;
 }
 .spec-info{
  display: grid;
  grid-template-columns: auto auto;
  padding: 40px;
  color: #fff;
 }
 .more-info .texter h2 p{
  color:whitesmoke;
  padding: 60px;
 }
 .spec-info h2{
   color: #ff4a57;
 }